<nav ng-controller="navBarCTRL">
	<div class="nav-wrapper red darken-3">
		<a href="#" class="brand-logo"><img src="/imgs/ic_star_black_24dp_1x.png" alt=""><img src="/imgs/ic_star_black_24dp_1x.png" alt=""><img src="/imgs/ic_star_black_24dp_1x.png" alt=""><img src="/imgs/ic_star_black_24dp_1x.png" alt=""><img src="/imgs/ic_star_black_24dp_1x.png" alt=""></a>
		<ul id="nav-mobile" class="right hide-on-small-and-down" ng-repeat="link in navLink">
			<li><a href="{{link.url}}" title="{{link.name}}">{{link.name}}</a></li>
		</ul>
	</div>	
</nav>