<div>
	<a id="1_star" href="#" title="">
		<img src="../imgs/ic_star_border_black_24dp_1x.png" alt="1"></a>
	<a id="2_star" href="#" title="">
		<img src="../imgs/ic_star_border_black_24dp_1x.png" alt="2"></a>
	<a id="3_star" href="#" title="">
		<img src="../imgs/ic_star_border_black_24dp_1x.png" alt="3"></a>
	<a id="4_star" href="#" title="">
		<img src="../imgs/ic_star_border_black_24dp_1x.png" alt="4"></a>
	<a id="d_star" href="#" title="">
		<img src="../imgs/ic_star_border_black_24dp_1x.png" alt="5"></a>
</div>